<div class="row-fluid">
  <% @articles.each do |article| %>
  	<div class="articles-list-item span6">
        <div class="article-preview">
          <%= image_tag article.img_url, :class => 'thumbnail span6' %>
          <h4><%= article.header %></h4>
          <%= article.preview %>
          <div class="gradient">
          </div>
        </div>
        <span class='pull-right label <%= "label-#{Tag.find(article.tag_id).name}" %>'>
          <%= link_to t("activerecord.attributes.tag.#{Tag.find(article.tag_id).name}"), send("#{Tag.find(article.tag_id).name}_path") %>
        </span>
  	</div>
  <% end %>
</div>


<hr/>

<%= link_to 'New Article', new_article_path, :class => 'btn' %>


