<span class='pull-right label <%= "label-#{Tag.find(@article.tag_id).name}" %>'><%= link_to t("activerecord.attributes.tag.#{Tag.find(@article.tag_id).name}"), send("#{Tag.find(@article.tag_id).name}_path")  %></span>
<h1><%= @article.header %></h1>
<p id="notice"><%= notice %></p>
<p><%= @article.preview %></p>
<p><span class="pull-left"><%= image_tag @article.img_url, :class => 'img-rounded pull-left', :style => 'margin: 0 5px;' %></span>
  <%= @article.main_text %>
</p>

  

  




  <%= @article.tag_id %>


<%= link_to 'Prev', Article.find(@article.id-1) if @article.id > Article.first.id%> |
<%= link_to 'Next', Article.find(@article.id+1) if @article.id < Article.last.id %> 


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
