<div class="well article">
	<h2><%= @article.header %></h2>
	<span class='label <%= "label-#{Tag.find(@article.tag_id).name}" %>'>
		<%= link_to t("activerecord.attributes.tag.#{Tag.find(@article.tag_id).name}"), send("#{Tag.find(@article.tag_id).name}_path") %>
	</span>
	<p id="notice">
		<%= notice %>
	</p>
	<p><%= @article.preview %></p>
	<p>
		<%= image_tag @article.img_url, :class => 'thumbnail span4' %>
		<%= @article.main_text %>
	</p>

	<!-- <%= @article.tag_id %> -->

	<hr/>
	<br/>
	<div class="btn-group">
	  <%= link_to '← Prev article', (Article.find(@article.id-1) if @article.id > Article.first.id), :class => 'btn' %>
	  <%= link_to 'Next article →', (Article.find(@article.id+1) if @article.id < Article.last.id), :class => 'btn' %>
	</div>

	<div class="btn-group pull-right">
	  <%= link_to 'Edit', edit_article_path(@article), :class => 'btn' %>
	  <%= link_to 'Back', articles_path, :class => 'btn' %>
	</div>
</div>