<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :name, "Тема" %>
      <%= f.text_field :name %><br />
      <%= f.label :tag, "Раздел" %>
      <%= f.select :tag, options_for_select(['Учеба', 'Студентческая жизнь', "Разное"]) %>
      <%= f.hidden_field :user_id, :value => current_user.id %><br />
    </div>
    <div class="span8">
      <%= f.label :body, "Описание" %>
      <%= f.text_area :body, :style => 'width:100%;height:200px;' %><br />
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Создать тему" %>
  </div>
<% end %>
