<div class="well">
  <h3>Topics list</h3>

  <table width="100%" class="table-bordered table">
    <tr>
      <th class="span6">Name</th>
      <th class="span3">Tag</th>
      <th class="span2">User</th>
      <th class="span2"></th>
    </tr>

    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.name %></td>
      <td><%= topic.tag %></td>
      <td><%= topic.user_id %></td>
      <td>
        <%= link_to topic, :class => 'btn btn-info' do %>
          <i class="icon-search"></i>
        <% end %>
        <%= link_to edit_topic_path(topic), :class => 'btn btn-warning' do %>
          <i class="icon-pencil"></i>
        <% end %>
        <%= link_to topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Topic', new_topic_path, :class => 'btn' %>

</div>
