<div class="well">
  <h3>Форум</h3>

  <table width="100%" class="table-bordered table">
    <tr>
      <th class="span5">Название</th>
      <th class="span1">Раздел</th>
      <th class="span1">Автор</th>
      <th class="span2">Создана</th>
      <th class='span1'>Сообщений</th>
      <th class="span2"></th>
    </tr>

    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.name %></td>
      <td><%= topic.tag %></td>
      <td><%= User.find(topic.user_id).nickname || User.find(topic.user_id).name %></td>
      <td><%=l topic.updated_at.to_date %></td>
      <td><%= topic.messages.count %></td>
      <td>
        <%= link_to topic, :class => 'btn btn-info' do %>
          <i class="icon-search"></i>
        <% end %>
        <% if current_user %>
          <%= link_to edit_topic_path(topic), :class => 'btn btn-warning' do %>
            <i class="icon-pencil"></i>
          <% end %>
          <%= link_to topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' do %>
            <i class="icon-remove"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% if current_user %>
  <br />
  <%= link_to 'Создать тему', new_topic_path, :class => 'btn' %>
<% end %>
</div>
