<div class="well">
	<p id="notice"><%= notice %></p>
	<span class="label label-info pull-right"><%= @topic.tag %></span>
	<h4 class="text-info"><%= @topic.name %></h4>
	
    <p><%= @topic.body %></p>
	<p>Автор: <%= link_to "#{User.find(@topic.user_id).surname} #{User.find(@topic.user_id).name}", User.find(@topic.user_id) %><p>

	<div class="btn-group pull-right">
		<% if @topic.user_id == current_user.id %>
		  <%= link_to 'Редактировать', edit_topic_path(@topic), :class => "btn" %>
		<% end %>  
		<%= link_to 'Назад', topics_path, :class => 'btn' %>
	</div>
	<br/>
	</div>
	<ul class="media-list">
	  <% @topic.messages.each do |message|%>
        <li class="media">
        	<hr/>
          <a class="pull-left" href="#">
            <%= image_tag(User.find(message.user_id).avatar, :class => "media-object", :size => '64x64' ) %>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= User.find(message.user_id).nickname || "#{User.find(message.user_id).name}"%></h4>
 			<%= message.body %>     
          </div>
        </li>
	  <% end %>
	</ul>  
	<div class="clearfix"></div>
	<div class="well row-fluid">
	  <%= form_for @message do |f|%>
	    <%= f.hidden_field :user_id, :value => current_user.id %>
	    <%= f.hidden_field :topic_id, :value => @topic.id %>
		<%= f.text_area :body, :class => 'span8', :style => 'height: 100px;' %><br/>
		<%= f.submit "Ответить", :class => 'btn btn-primary' %>
	  <% end %>
	</div>
