<%= form_for(@vacancy) do |f| %>
  <% if @vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% @vacancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span3">
      <div class="field">
        <%= f.label :company_name %>
        <%= f.text_field :company_name %><br />
      </div>
      <div class="field">
        <%= f.label :company_logo_url %>
        <%= f.text_field :company_logo_url %><br />
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %><br />
      </div>
      <div class="field">
        <%= f.label :web_address %>
        <%= f.text_field :web_address %><br />
      </div>  
      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %><br />
      </div>
    </div>
    <div class="span5 vacancy-description">
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %><br />
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
