<div class="well">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @group.name %>
  </p>

  <p>
    <b>Course:</b>
    <%= @group.course %>
  </p>

  <p id="notice"><%= notice %></p>

  <div class="accordion" id="accordion2" style="background-color:#fff;">
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <i class="icon-upload"></i>&nbsp;Верхняя неделя</a></h4>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render "schedules/group_schedule", :schedule => @group.schedules.first %>
          <%= link_to 'Просмотр', @group.schedules.first %>
          <%= link_to 'Редактировать расписание', edit_schedule_path(@group.schedules.first), :class => 'btn pull-right' %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <i class="icon-download"></i>&nbsp;Нижняя неделя
        </a></h4>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= render "schedules/group_schedule", :schedule => @group.schedules.last %>
          <%= link_to 'Просмотр', @group.schedules.last %>
          <%= link_to 'Редактировать расписание', edit_schedule_path(@group.schedules.last), :class => 'btn pull-right' %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

<!-- Users list -->
<h4>Список студентов</h4>
<table class="table table-hover">
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th></th>
  </tr>
  <% @users.sort_by(&:surname).each_with_index do |user, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= "#{user.surname} #{user.name} #{user.patronymic}" %></td>
      <td>
        <% if user.praepostor %>
          <span class="label label-important">Староста</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>

<div class="btn-group pull-right">
  <%= link_to 'Back', groups_path, :class => 'btn' %>
</div>
