<%= form_for @user, :html => {:multipart => true} do |f| %>
  <div class="row-fluid">
    <div class="span3">
      <% if controller.action_name == 'new' %>
        <div><%= f.label :email%><%= f.text_field :email, :placeholder => '*' %></div>
        <div><%= f.label :password%><%= f.password_field :password, :placeholder => '*' %></div>
      <% end %>
      <div><%= f.label :surname%><%= f.text_field :surname, :placeholder => '*' %></div>
      <div><%= f.label :name%><%= f.text_field :name, :placeholder => '*' %></div>
      <div><%= f.label :patronymic%><%= f.text_field :patronymic, :placeholder => '*' %></div>
      <div><%= f.label :nickname%><%= f.text_field :nickname, :placeholder => '*' %></div>
      <div class="b-day"><%= f.label :birthday%><%= f.date_select :birthday, :start_year => 1930 %></div>
      <div><%= f.label :gender%><%= f.select :gender, options_for_select(['мужской', 'женский']) %></div>
      <div><%= f.label :group_id%><%= f.select :group_id, options_for_select(Group.all.collect{ |x| [x.name, x.id] }) %></div>
      <% if @user.teacher %>
        <div><%= f.label :department%><%= f.select :department, options_for_select(['КИ', 'ПМИ', "КСМ", "АСУ"]) %></div>
      <% end %>  
    </div>
    <div class="span3">
      <div><%= f.label :facebook_url%><%= f.text_field :facebook_url %></div>
      <div><%= f.label :vk_url%><%= f.text_field :vk_url %></div>
      <div><%= f.label :twitter_url%><%= f.text_field :twitter_url %></div>
      <div><%= f.label :google_plus_url%><%= f.text_field :google_plus_url %></div>
      <div><%= f.label :linked_in_url%><%= f.text_field :linked_in_url %></div>
      <div><%= f.label :skype_nickname%><%= f.text_field :skype_nickname %></div>
      <div><%= f.label :github_nickname%><%= f.text_field :github_nickname %></div>
      <div><%= f.label :donntu_masters_url%><%= f.text_field :donntu_masters_url %></div>
      <div><%= f.label :cv_url%><%= f.text_field :cv_url %></div>
      <div><%= f.label :about_me_nickname%><%= f.text_field :about_me_nickname %></div>
    </div>
    <div class="span6">
      <div><%= f.label :avatar %><%= f.file_field :avatar %></div><br/>
      <div class="aboutme"><%= f.label :about_me%><%= f.text_area :about_me %></div>
    </div>
  </div>
  <hr/>
  <%= f.submit %>
<% end %>