<%= form_for @user, :html => {:multipart => true} do |f| %>
  <p>
    <label>My Avatar</label>
    <%= f.file_field :avatar %>
    <%= f.text_field :email %>
    <%= f.password_field :password%>

    <%= f.date_select :birthday, :start_year => 1930 %>

   

    <%= f.submit %><!-- 
      t.datetime :birthday
      t.integer :gender
      t.integer :group_id
      t.string :facebook_url
      t.string :vk_url
      t.string :twitter_url
      t.string :google_plus_url
      t.string :linked_in_url
      t.string :skype_nickname
      t.string :github_nickname
      t.string :about_me_nickname
      t.string :cv_url
      t.string :donntu_masters_url
      t.text :about_me
      t.string :nickname
      t.string :avatar
      t.boolean :teacher
      t.boolean :praepostor -->

  </p>
<% end %>