<div class="well users-list">
	<table class='table table-stripped'>
	  <tr>
	  	<th>id</th>
	    <th>ФИО</th>
	    <th>Группа</th>
	    <th>Admin</th>
	    <th>Преподаватель</th>
	    <th>Староста</th>
	    <th></th>
	  </tr>
	  <% @users.each do |user| %>
	    <tr>
	      <%= form_for user, :remote => true do |f| %>
	      <th><%= user.id%></th>	
		  <td><%= user.surname%> <%= user.name%> <%= user.patronymic%></td>
		  <td><%= Group.find(user.group_id).name %></td>
		  <td><%= f.check_box :admin %></td>
		  <td><%= f.check_box :teacher %></td>
		  <td><%= f.check_box :praepostor %></td>
		  <td><%= f.submit '↵' %></td>
		  <% end %>
	    </tr>
	  <% end %>
	</table>
</div>