<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.number_field :group_id %><br />
  </div>
  <div class="field">
    <%= f.label :schedule_type_id %>
    <%= f.select :schedule_type_id, options_for_select(ScheduleType.all.collect{ |x| [x.name, x.id] }) %><br />
  </div>
  <table class="unstyled new-schedule">
    <thead>
      <tr>
        <th></th>
        <th>Пон</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1&nbsp;</td>
        <td><%= f.text_field :mon_1 %></td>
        <td><%= f.text_field :tue_1 %></td>
        <td><%= f.text_field :wed_1 %></td>
        <td><%= f.text_field :thu_1 %></td>
        <td><%= f.text_field :fri_1 %></td>
      </tr>
      <tr>
        <td>2&nbsp;</td>
        <td><%= f.text_field :mon_2 %></td>
        <td><%= f.text_field :tue_2 %></td>
        <td><%= f.text_field :wed_2 %></td>
        <td><%= f.text_field :thu_2 %></td>
        <td><%= f.text_field :fri_2 %></td>
      </tr>
      <tr>
        <td>3&nbsp;</td>
        <td><%= f.text_field :mon_3 %></td>
        <td><%= f.text_field :tue_3 %></td>
        <td><%= f.text_field :wed_3 %></td>
        <td><%= f.text_field :thu_3 %></td>
        <td><%= f.text_field :fri_3 %></td>
      </tr>
      <tr>
        <td>4&nbsp;</td>
        <td><%= f.text_field :mon_4 %></td>
        <td><%= f.text_field :tue_4 %></td>
        <td><%= f.text_field :wed_4 %></td>
        <td><%= f.text_field :thu_4 %></td>
        <td><%= f.text_field :fri_4 %></td>
      </tr>
      <tr>
        <td>5&nbsp;</td>
        <td><%= f.text_field :mon_5 %></td>
        <td><%= f.text_field :tue_5 %></td>
        <td><%= f.text_field :wed_5 %></td>
        <td><%= f.text_field :thu_5 %></td>
        <td><%= f.text_field :fri_5 %></td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="field">
    <%= f.label :mon_1 %><br />
    
  </div>
  <div class="field">
    <%= f.label :mon_2 %><br />
    <%= f.text_field :mon_2 %>
  </div>
  <div class="field">
    <%= f.label :mon_3 %><br />
    <%= f.text_field :mon_3 %>
  </div>
  <div class="field">
    <%= f.label :mon_4 %><br />
    <%= f.text_field :mon_4 %>
  </div>
  <div class="field">
    <%= f.label :mon_5 %><br />
    <%= f.text_field :mon_5 %>
  </div>
  <div class="field">
    <%= f.label :tue_1 %><br />
    
  </div>
  <div class="field">
    <%= f.label :tue_2 %><br />
    <%= f.text_field :tue_2 %>
  </div>
  <div class="field">
    <%= f.label :tue_3 %><br />
    <%= f.text_field :tue_3 %>
  </div>
  <div class="field">
    <%= f.label :tue_4 %><br />
    <%= f.text_field :tue_4 %>
  </div>
  <div class="field">
    <%= f.label :tue_5 %><br />
    <%= f.text_field :tue_5 %>
  </div>
  <div class="field">
    <%= f.label :wed_1 %><br />
    
  </div>
  <div class="field">
    <%= f.label :wed_2 %><br />
    <%= f.text_field :wed_2 %>
  </div>
  <div class="field">
    <%= f.label :wed_3 %><br />
    <%= f.text_field :wed_3 %>
  </div>
  <div class="field">
    <%= f.label :wed_4 %><br />
    <%= f.text_field :wed_4 %>
  </div>
  <div class="field">
    <%= f.label :wed_5 %><br />
    <%= f.text_field :wed_5 %>
  </div>
  <div class="field">
    <%= f.label :thu_1 %><br />
    
  </div>
  <div class="field">
    <%= f.label :thu_2 %><br />
    <%= f.text_field :thu_2 %>
  </div>
  <div class="field">
    <%= f.label :thu_3 %><br />
    <%= f.text_field :thu_3 %>
  </div>
  <div class="field">
    <%= f.label :thu_4 %><br />
    <%= f.text_field :thu_4 %>
  </div>
  <div class="field">
    <%= f.label :thu_5 %><br />
    <%= f.text_field :thu_5 %>
  </div>
  <div class="field">
    <%= f.label :fri_1 %><br />
    
  </div>
  <div class="field">
    <%= f.label :fri_2 %><br />
    <%= f.text_field :fri_2 %>
  </div>
  <div class="field">
    <%= f.label :fri_3 %><br />
    <%= f.text_field :fri_3 %>
  </div>
  <div class="field">
    <%= f.label :fri_4 %><br />
    <%= f.text_field :fri_4 %>
  </div>
  <div class="field">
    <%= f.label :fri_5 %><br />
    <%= f.text_field :fri_5 %>
  </div> -->
  <div class="actions">
    <br/>
    <%= f.submit %>
  </div>
<% end %>
