<table class= 'table table-bordered table-hover table-striped'>
<tr>
  <th></th>		
  <th>Понедельник</th>
  <th>Вторник</th>
  <th>Среда</th>
  <th>Четверг</th>
  <th>Пятница</th>	
</tr>
<tr>
  <td>1</td>	
  <td><%= schedule.mon_1%></td>
  <td><%= schedule.tue_1%></td>
  <td><%= schedule.wed_1%></td>
  <td><%= schedule.thu_1%></td>
  <td><%= schedule.fri_1%></td>
</tr>
<tr>
  <td>2</td>	
  <td><%= schedule.mon_2%></td>
  <td><%= schedule.tue_2%></td>
  <td><%= schedule.wed_2%></td>
  <td><%= schedule.thu_2%></td>
  <td><%= schedule.fri_2%></td>
</tr
<tr>
  <td>3</td>	
  <td><%= schedule.mon_3%></td>
  <td><%= schedule.tue_3%></td>
  <td><%= schedule.wed_3%></td>
  <td><%= schedule.thu_3%></td>
  <td><%= schedule.fri_3%></td>
</tr
<tr>
  <td>4</td>	
  <td><%= schedule.mon_4%></td>
  <td><%= schedule.tue_4%></td>
  <td><%= schedule.wed_4%></td>
  <td><%= schedule.thu_4%></td>
  <td><%= schedule.fri_4%></td>
</tr
<tr>
  <td>5</td>	
  <td><%= schedule.mon_5%></td>
  <td><%= schedule.tue_5%></td>
  <td><%= schedule.wed_5%></td>
  <td><%= schedule.thu_5%></td>
  <td><%= schedule.fri_5%></td>
</tr>
</table>
