<div class="well">
	<h3><%= @schedule.group.name %></h1>
	<h4><%= ScheduleType.find(@schedule.schedule_type_id).name %></h4>

	<%= render 'form' %>
	<div class="btn-group pull-right">
		<%= link_to 'Просмотр', @schedule, :class => 'btn' %>
		<%= link_to 'Назад', @schedule.group, :class => 'btn' %>
	</div>
	<div class="clearfix"></div>

</div>

