<p id="notice"><%= notice %></p>

<h1><%= "Группа #{Group.find(@schedules.first.group_id).name}" %></h1>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <i class="icon-upload"></i>&nbsp;<%= ScheduleType.find(@schedules.first.schedule_type_id).name %>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= render "group_schedule", :schedule => @schedules.first %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <i class="icon-download"></i>&nbsp;<%= ScheduleType.find(@schedules.last.schedule_type_id).name %>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "group_schedule", :schedule => @schedules.last %>
      </div>
    </div>
  </div>
</div>





<%= link_to 'Back', schedules_path %>