<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Mon 1</th>
    <th>Mon 2</th>
    <th>Mon 3</th>
    <th>Mon 4</th>
    <th>Mon 5</th>
    <th>Tue 1</th>
    <th>Tue 2</th>
    <th>Tue 3</th>
    <th>Tue 4</th>
    <th>Tue 5</th>
    <th>Wed 1</th>
    <th>Wed 2</th>
    <th>Wed 3</th>
    <th>Wed 4</th>
    <th>Wed 5</th>
    <th>Thu 1</th>
    <th>Thu 2</th>
    <th>Thu 3</th>
    <th>Thu 4</th>
    <th>Thu 5</th>
    <th>Fri 1</th>
    <th>Fri 2</th>
    <th>Fri 3</th>
    <th>Fri 4</th>
    <th>Fri 5</th>
    <th>group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.mon_1 %></td>
    <td><%= schedule.mon_2 %></td>
    <td><%= schedule.mon_3 %></td>
    <td><%= schedule.mon_4 %></td>
    <td><%= schedule.mon_5 %></td>
    <td><%= schedule.tue_1 %></td>
    <td><%= schedule.tue_2 %></td>
    <td><%= schedule.tue_3 %></td>
    <td><%= schedule.tue_4 %></td>
    <td><%= schedule.tue_5 %></td>
    <td><%= schedule.wed_1 %></td>
    <td><%= schedule.wed_2 %></td>
    <td><%= schedule.wed_3 %></td>
    <td><%= schedule.wed_4 %></td>
    <td><%= schedule.wed_5 %></td>
    <td><%= schedule.thu_1 %></td>
    <td><%= schedule.thu_2 %></td>
    <td><%= schedule.thu_3 %></td>
    <td><%= schedule.thu_4 %></td>
    <td><%= schedule.thu_5 %></td>
    <td><%= schedule.fri_1 %></td>
    <td><%= schedule.fri_2 %></td>
    <td><%= schedule.fri_3 %></td>
    <td><%= schedule.fri_4 %></td>
    <td><%= schedule.fri_5 %></td>
    <td><%= schedule.group.name %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>
