<p id="notice"><%= notice %></p>

<h1><%= "Группа #{Group.find(@schedule.group_id).name}" %></h1>
<%= render "group_schedule", :schedule => @schedule %>
<%= link_to 'Назад', Group.find(@schedule.group_id) %> | 
<%=link_to_function("Распечатать", "javascript:print()")%>
