<%= form_for @upload, :html => {:multipart => true}  do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename, "Имя файла" %>
    <%= f.text_field :filename %><br />
  </div>
  <div class="field">
    <%= f.label :subject, "Предмет" %>
    <%= f.text_field :subject %><br />
  </div>
  <h4>Загрузите файл</h4>
  <div class="field">
    <%= f.file_field :file %><br /><br />
  </div>  
  <h4>или добавьте ссылку.</h4>
  <div class="field">
    <%= f.label :url, "Ссылка на файл" %>
    <%= f.text_field :url %><br /><br />
  </div>
  <div class="field">
    <%= f.label :comment, "Комментарий" %>
    <%= f.text_field :comment %><br /><br />
  </div>  
  <div class="actions">
    <%= f.submit "Добавить", :class => 'btn' %>
  </div>
<% end %>
