<ul class="nav pull-right" id="loginbar"> 
    <li>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Меню
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'На главную', root_path %></li>
          <li><%= link_to 'Группы', groups_path %></li>
          <li><%= link_to 'Расписание', schedules_path %></li>
          <li><%= link_to 'Форум', topics_path %></li>
          <li><%= link_to 'Новости университета', decanat_path %></li>
          <li><%= link_to 'Новости профкома', trade_union_path %></li>
          <li><%= link_to 'Новости самоуправления', self_government_path %></li>
          <li><%= link_to 'О факультете', faculty_path %></li>  
          <li><%= link_to 'Войти', user_session_path %></li>          
        </ul>
      </div>
    </li>

</ul>
