<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <title><%=t 'project_name' %></title>
  </head>
  <body>
  <div id="wrap">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'fknt.info', root_url, :class => 'brand' %>
          <%= render '/layouts/loginbar' %>
        </div>
      </div>
    </div>
    <div class='content container' style='margin-top: 30px;'>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'fknt.info', root_url, :class => 'brand' %>
        </div>
      </div>
    </div>
  </body>
</html>
